 
 
 .fileItem{
    height: 55px;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(219, 219, 219);
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.fileItem>div>*{
    margin-left: 10px;
    margin-right: 10px;
}

.fileItem>a{
    height: 100%;
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: #554e4e;
}

.fileItem--left{
    display: flex;
    flex: 1;
}

.fileItem--right{
    display: flex;
    margin-left: auto;
    padding-right: 6px;
  
}